@model Drink

<div class="col-lg-4 col-sm-12 col-md-6 align-content-center mb-4">
    <div class="card text-center" style=" height: 31rem;">

        <img class="card-img-top" style="height:50%" src="@Model.ImageThumbnailUrl" alt="" />

        <div class="card-body">
            <h5>@(Model.CategoryId == 1? "Alcoholic" : "Non-alcoholic")</h5>
            <h4 class="card-title"><strong><a href="">@Model.Name</a></strong></h4>

            <p>@Model.ShortDescription</p>
        </div>
        <div class="card-footer mx-3 bg-transparent">
            <h3 class="float-left">@Model.Price &euro;</h3>
            <a class="btn btn-success float-right" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-drinkId="@Model.Id">Add to my cart</a>
    
        </div>
    </div>
</div>